h1{
  font-size: 45px;
  text-align: center;
  /* border-bottom: 100px solid powderblue; */
  margin: 0;
  padding-top: 60;
  padding: 20;
}
a{
  color:black;
}
#grid{
  display: grid;
  grid-template-columns: 170px 1fr;
}
#navigation{
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
}
#grid ol{
  padding-left:33px;
}
#grid #article{
  padding-left: 25px;
}
@media(max-width:300px){
  #grid{
    display: block;
  }
  #navigation{
    border-right: none;
  }
  h1{
    border : none;
  }
}
/* .container{
  position : relative;
}
.text-block{
  position: absolute;
  bottom: 20px;
  right:20px;
  padding-left: 20px;
  padding-right: 20px;
} */
.banners{

}
header{
  background-image : url('banner1.jpg');
  height : 100px;
}
