body{
  margin-top : -40px;
  margin-left: -5px;
  margin-right: -5px;
}
a{
  color:black;
}
#grid{
  display: grid;
  grid-template-columns: 170px 1fr;
}
#navigation{
  border-right: 1px solid gray;
  width: 100px;
  margin: 0;
}
#grid ol{
  padding-left:33px;
}
#grid #article{
  padding-left: 25px;
}
@media(max-width:300px){
  #grid{
    display: block;
  }
  #navigation{
    border-right: none;
  }
}
header{
  background-image : url('banner1.jpg') !important;
  background-size: 1700px 500px;
  background-position: left center;
  height : 200px;
  text-decoration: none;
}
.title{
  font-size: 60px;
  text-align: center;
  padding-top : 40px;
  margin-bottom: 0px;
}
.subtitle{
  text-align: center;
  margin-top : 0;
}
#left_select{
  position: absolute;
  top : 0px;
  padding-left: 20px;
  list-style-type: none;
  list-style: none;
}
#to_home{
  text-decoration: none;
}
#to_home span{
  color: green;
  font-size: 18px;
}
#unfold_menu a.title{
  background-image: url('icon_allview.png');
}
#unfold_menu{
  height: 14px;
}
#unfold_menu .title{
  padding-left: 10px;
  padding-top: 18px;
  height: 14px;
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  overflow: hidden;
  text-indent: 100em;
  width: 16px;
}
#left_select li{
  float: left;
}
#main_menu{
  height: 61px;
  /* margin-top: -16px; */
  /* border-bottom: 1px solid black; */
  background-color: WhiteSmoke;
}
nav#main_menu>div.wrapper{
  display: block;
  height: 50px;
  padding-top : 15px;
}
nav#main_menu>div.wrapper>ul>li{
  display: inline-block;
  padding-left: 100px;
  list-style-type: none;
  position:relative;
}
.sub_nav{
  margin-top: 0px;
  padding-left: 0px;
}
.sub_nav > li > div > a{
  font-size : 20px;
}
.selected{
  color : green;
}
aside{
  width: 250px;
  display: block;
  float:left;
}
#body{
  height: 800px;
}
#body > .wrapper {
    width: 980px;
    height : 800px;
    margin:0px;
    position: relative;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}
#article{
  width: 730px;
  float: left;
}

.whole_side > .coverPage > a,.whole_side > nav > ul > li > div > a{
  padding-left: 20px;
  font-size: 14px;
}
.whole_side > h2{
  padding-left: 20px;
  font-size: 20px;
  margin-bottom: 6px;
}
.whole_side > .coverPage{
  margin-top : 10px;
}
#load_left{
  padding-left: 10px;
  list-style-type: none;
  list-style: none;
}

#load_left > li{
  height : 40px;
  padding-top: 10px;
}
#load_left > li > div > a{
  color: gray;
}
#load_left :hover, #load_left > li:hover, #load_left > li > div > a:hover, .coverPage :hover{
  background-color: #ccc;
  color: #3c9;
}
